*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img{
    width: 200px;
    height: 150px;
    margin: 10px;
    &:hover{
        box-shadow: 5px 8px 0 grey;
    }
}
.load{
    position: absolute;
    left: 43%;
    top: 37%;
}
.none{
    display: none;
    background-color: red;
}